
html {
    overflow-y: auto !important;
    &::-webkit-scrollbar {
      width: 0.572rem; //8px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-button {
      width: 0.572rem; //8px;
      height: 0.358rem; //5px;
      
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      border: thin solid transparent;
      box-shadow: 0px 0px 0.215rem transparent inset; //3px
      border-radius: 0.72rem; //10px;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
      border: thin solid transparent;
      border-radius: 0.72rem; //10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #7d7d7d;
    }

    &:hover{
      &::-webkit-scrollbar {
        width: 0.572rem; //8px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-track {
          background: transparent;
          border: thin solid transparent;
          box-shadow: 0px 0px 0.215rem transparent inset; //3px
          border-radius: 0.72rem; //10px;
      }
      &::-webkit-scrollbar-thumb {
          background: #999;
          border: thin solid gray;
          border-radius: 0.72rem; //10px;
      }
    }
}

.v-application{
  font-size: $font-size-root;

  .container{
    max-width:$container-max-size-root !important;
  }

  .v-input{
    &.v-input--dense{
      font-size:14px !important;
      .v-label{
        font-size:14px !important;
      }
    }
  }
  
}

.logo-font {
  background: linear-gradient(450deg, #d16ac2, 50%, #6347e2);
  background: -webkit-linear-gradient(45deg, #d16ac2, 50%, #6347e2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor:pointer;
  font-size: 16px !important;
  text-transform: uppercase;
  letter-spacing:0px;
  word-spacing:-3px;
  font-weight: 700;
}